.portfolio {
    padding: 80px 40px;
    background-color: #ffae7c;
}

header {
    padding: 40px;
    text-align: center;
    background-color: orange;
    background-position: center;
}

.portfolio-elements {
    max-width: 1200px;
    margin: 0 auto;
    display: flex; 
    flex-wrap: wrap;
    gap: 50px;
}

a{
    text-decoration: none;
    color: white;
}

.card {
width: 30%;
background-color: #ffffff;
}

.card-header {
    padding: 20px 40px;
    background-color: orange;
}

.card-title {
    text-transform: capitalize;
    font-size: 24px;
    font-weight: bold;
    color: white;
}
    
.card-axe {
    font-size: 14px;
    color: white;
    margin-top: 6px;
}
 
.card img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

ul{
    list-style-type : none;
    align-content: stretch;
}

.filters {
    max-width: 1200px; 
    margin: 0 auto;
}
    
.filters ul {
    display: flex; 
    gap: 20px;
}

.filters li {
    color: #ffffff;
    background-color: orangered;
    padding: 10px 20px;
    cursor: pointer;
}
.filters li.active {
    background-color: orange;
}
.filters li.active:hover {
    background-color: rgb(255, 217, 0);
}
.filters li:hover {
    background-color: orange;
}

.portfolio-elements {
    padding: 50px 0 !important;
}