.portfolio {
    padding: 80px 40px;
    background-color: #ffae7c;
}

header {
    padding: 40px;
    background-color: orange;
    background-position: center;
    flex-direction: row;
}

.portfolio-elements {
    max-width: 1200px;
    margin: 0 auto;
    display: flex; 
    flex-wrap: wrap;
    gap: 50px;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: rgb(255, 200, 0);
}

.card {
width: 30%;
background-color: #ffffff;
}

.card-header {
    padding: 20px 40px;
    background-color: orange;
}

.card-title {
    text-transform: capitalize;
    font-size: 24px;
    font-weight: bold;
    color: white;
}
    
.card-axe {
    font-size: 14px;
    color: white;
    margin-top: 6px;
}
 
.card img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

ul{
    list-style-type : none;
    align-content: stretch;
}

.filters {
    max-width: 1200px; 
    margin: 0 auto;
}
    
.filters ul {
    display: flex; 
    gap: 20px;
}

.filters li {
    color: #ffffff;
    background-color: orangered;
    padding: 10px 20px;
}
.filters li.active {
    background-color: orange;
}

.portfolio-elements {
    padding: 50px 0 !important;
}


* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    font-family: sans-serif;
    }
    
    .swiper-slide {
        height: 80vh;
    }
    
    .swiper-slide {
        
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-left: 100px;
    }

    p.swiper-slide{
        color: white;
    }
    
    .slide-dw {
        background-image: url('Fnaf.png');
        background-size: cover;
    }
    
    .slide-cd {
        background-image: url('Ocar.png');
        background-size: cover;
    }
    
    .slide-cdeb {
        background-image: url('SMEG.png');
        background-size: cover;
    }
        
    .slide-jv {
        background-image: url('DD.png');
        background-size: cover;
    }
        
    .slide-3d {
        background-image: url('TheFlash.png');
        background-size: cover;
    }
    .subtitle {
        color: #000000;
        font-size: 24px;
        letter-spacing: 3px;
        background-color: #fff;
    }
    
    .title {
        font-weight: bold;
        font-size: 72px;
        color: rgb(0, 0, 0);
        background-color: white;
    }
    
    body .swiper-pagination-bullet {
        width: 18px;
        height: 18px;
        background: #fff;
    }
    
    body .swiper-pagination-bullet-active {
        background: orangered;
    }
    
    body .swiper-button-next,
    body .swiper-button-prev {
        color: white;
    }


    body.dark {
        background-color: black;
        color: orange;
      }
      
      * {
        font-family: sans-serif;
        margin: 0;
        box-sizing: border-box;
      }
      
      body {
        width: 80%;
        margin: 80px auto;
      }
      
      form {
        border: 1px solid rgba(153, 153, 153, 0.6);
      }
      
      form > div {
        margin: 30px 20px;
      }
      
      label {
        display: block;
        margin-bottom: 8px;
      }
      
      input {
        height: 20px;
        width: 40%;
        padding: 16px 32px;
        margin-bottom: 20px;
      }
      
      button {
        margin-left: 20px;
        margin-bottom: 30px;
        padding: 16px 32px;
        cursor: pointer;
      }
      
      .error {
        border: 1px solid rgba(212, 42, 0, 1);
        color: rgb(212, 42, 0);
        background-color: rgba(212, 42, 0, 0.4);
        padding: 16px 32px;
        margin-bottom: 20px;/*
        display : none;*/
      }
      
      
      .success{
          border: 1px solid rgb(81, 150, 2);
          color: rgb(81, 150, 2);
          background-color: rgba(113, 212, 0, 0.4);
          padding: 16px 32px;
          margin-bottom: 20px;/*
          display : none;*/
      }
      
      .message-error-visible{
          display : block;
      }
      